<div class="container">
    <ol id="faq">
      <hr/>
      <li>Does the Fresh Air eliminate ALL toilet odors?</li>
      <p>Testimonials have proven that the Fresh Air eliminates all odors associated with toilet use.</p>
      <li>Does the Fresh Air remove airborne germs from the toilet bowl?</li>
      <p>Tests have shown the Fresh Air removes microscopic particles related to toilet use including flush-related
        aerosol into its venting system preventing escape of odor and germs during use of the Fresh Air.</p>
      <li>Does the Fresh Air require special cleaning or maintenance?</li>
      <p>No. It does not require any more cleaning than a regular toilet seat and requires no maintenance.</p>
      <li>Are any accessories or supplies required for the Fresh Air?</li>
      <p>No. There are no batteries, filters or chemicals required for the Fresh Air.</p>
      <li>Where does the air from the toilet bowl go?</li>
      <p>The air travels through the exhaust fan and out of the building in the same manner as the existing exhaust
        fan.</p>
      <li>Does the Fresh Air require its own fan?</li>
      <p>The Fresh Air comes with its own custom exhaust fan.</p>
      <li>Does the Fresh Air look like a plumbing fixture when its installed?</li>
      <p>The Fresh Air will look like any other high quality toilet seat.</p>
      <li>Are any special tools or skills required to install the Fresh Air?</li>
      <p>No. The Fresh Air can be installed by any "handy man."</p>
      <li>Can the Fresh Air be installed in an office or a retail store?</li>
      <p>The current Fresh Air is for residential use but will fit a variety of commercial toilets.</p>
      <li>How long will a Fresh Air last?</li>
      <p>Fresh Air and its exhaust fan will last as long as any good quality toilet seat or exhaust fan.
        A 3-year warranty is offered for manufacturing defects in workmanship and materials.</p>
      <li>What is life span of the Fresh Air?</li>
      <p>The service life of the fan 36 thousand hours. This means that if the fan will run for one hour a day,
        the Fresh Air will last for 98 years.</p>
      <hr/>
    </ol>
</div>