<div id="home">
  <div class="container">

    <div id="jumbo" class="jumbotron-fluid" align="center">
      <div class="container-fluid">
        <%= image_tag '/bathroom1_crop.jpg', alt: 'Clean bathroom picture', class: 'img-responsive' %>
      </div>
    </div>

    <!-- Home page content tbd -->
    <div class="content">
      <hr/>
      <p>Fresh Air toilet seat is patented unique revolutionary Bathroom vent system where the vent attached
        directly to your toilet to stop odors at the source so your bathroom always smell clean.
        There are changes in the air." We are committed to improving the quality and value of your home with our new
        product, Fresh Air toilet seat. Our innovative odorless toilet design and vacuum system efficiently removes
        toilet odors and bacteria straight from the toilet bowl to the outside, maintaining an odor free bathroom for
        your family and guests. When someone uses a toilet, odor and bacteria not only fills the bathroom itself - it
        moves throughout your home. Ceiling fans just add to the problems! They pull the bacteria and odor out of the
        toilet bowl and spread them on to your tooth brushes, towels, carpets and clothing.
        The system is energy efficient and an environmentally friendly; an alternative to conventional ceiling exhaust
        fans.</p>
      <hr/>
    </div>

    <!-- This is the video for the home page -->

    <div class="container-fluid">
      <div id="home-video">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://player.vimeo.com/video/153813200" width="100%" height="100%"
                  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>

  </div>
</div>