<div id="home">
  <div class="container">

    <div id="jumbo" class="jumbotron-fluid" align="center">
      <div class="container-fluid">
        <%= image_tag '/bathroom1_crop.jpg', alt: 'Clean bathroom picture', class: 'img-responsive' %>
      </div>

    </div>


  </div>
</div>