<div class="container">
  <div class="row">
    <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonials-carousel" data-slide-to="1"></li>
        <!--<li data-target="#testimonials-carousel" data-slide-to="2"></li>-->
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>Patrick Murphy</h2><br/>
          <p>
            We recently completed our dream home.The Fresh Air seats was suggested to us by friend as a better
            option than a normal exhaust fan. Initially,   I needed to be convinced this was not just another "gimmick
            product". However after doing more investigation and also speaking with Fresh Air specialist we soon
            realized that it made sense to install good ventilation rather than the cheap, noisy, ineffective fan.
            What a fantastic seat! No smells from the toilet and no steam or condensation in my bathroom! Unbelievable!
            We no longer have to keep the fan on 5 minutes as odor and steam are removed instantly. I wouldn't dream
            building or renovating a bathroom now without incorporation the Fresh Air product. <br/>
            My view is that Fresh Air should be compulsory on every toilet or bathroom; it's a brilliant way to keep
            your bathroom fresh,free of bacteria and well ventilated. Our bathroom is now inviting room of the house
            and we no longer worry about who had visited it before us!<br/>
          </p>
        </div>
        <div class="carousel-item">
          <h2>Nicole Adams</h2><br/>
          <p>
            When we have some guests at home and someone used the bathroom it becomes very embarrassing situation.
            But after we installed Fresh Air seat life is much more pleasant. It solved the problem and helped the
            odor, and don't feel all the bacteria floating around.<br/>
          </p>

        </div>
        <!--<div class="carousel-item">-->
          <!--<h2></h2>-->

        <!--</div>-->

      </div>
      <a class="carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <div align="center">
        <%= image_tag ('wave.png'), width: '80%', align: 'bottom' %>
      </div>
    </div>
  </div>
</div>